@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-open-sans), sans-serif;
  --font-heading: var(--font-cormorant), serif;
}

.next-image-no-gap {
  display: block !important;
}


/* Cormorant Garamond */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/cormorant/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/cormorant/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/cormorant/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/cormorant/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* CSS variables for Tailwind */
:root {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-open-sans: "Open Sans", sans-serif;
}
